<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
</head>
<body class="music">
    <header id="header"> 
        <nav>
            <ul class="navegacion">
                <li><a href="/">Home<a></li>
                <li><a href="/about">About<a></li>
                <li><a href="/music">Music<a></li>
                <li class="barraDerecha"><a href="/contact">Contact<a></li>
             </ul>
            <ul class="icons">
                <a href=""><i class="fab fa-twitter"></i></a></li>
                <a href=""><i class="fab fa-facebook"></i></a></li>
                <a href=""><i class="fab fa-spotify"></i></a></li>
                <a href=""><i class="fab fa-apple"></i></a></li>
                <a href=""><i class="fab fa-amazon"></i></a></li>
                <a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>


        </nav>

    </header>
    <main>
        <h1>MUSIC//</h1>
        <h3 class="start">Direct links</h3>
       <ul>
        <li><a href="#Album">Album</a></li>
        <li><a href="">Video: Organic Love</a></li>
        <li><a href="">Video: Street Light</a></li>
       </ul>

       <h2 class="start">Album</h2>
       <h2>TWIST MY REALITY</h2>
       <img src="/img/emilia-play-list.png" alt="Imagen emilia play-list" class="img">
       <ol>
        <li><i class="fas fa-play"></i> Organic Love | 02:40</li>
        <li><i class="fas fa-play"></i> Twist In My Reality | 02:10</li>
        <li><i class="fas fa-play"></i> Street Light | 03:28</li>
        <li class="last"><i class="fas fa-play"></i> Love Don’t Live Here Anymore (Cover) | 03:49</li>
       </ol>
       <a href="#">Go top</a>

       <h2 class="start">Video</h2>
       <h2>Organic Love</h2>
       <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen id="Organic"></iframe>

        <h3>Classical-Compilation from Wix Content on Vimeo.</h3>
        <p>Directed by <span> VINCE MALC & EMILIA COLE</span></p>
        <p> Edited and Filmed by<span> NICOLAS TROY</span></p>
        <p>Produced by<span>  NIKI HEART</span></p>
        <p class="last">Wix Films <span>LTD.</span></p>

        <a href="#">Go top</a>

        <h2 class="start">Video</h2>
        <h2>STREET LIGHT</h2>
        <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen id="street" ></iframe>

        <h3>Snowfall from Wix Content on Vimeo.</h3>
        <p>Directed by <span> VINCE MALC & EMILIA COLE</span></p>
        <p> Edited and Filmed by<span> NICOLAS TROY</span></p>
        <p>Produced by<span>  NIKI HEART</span></p>
        <p class="last">Wix Films <span>LTD.</span></p>

        <a href="#">Go top</a>


    </main>
    
    
</body>
</html>