.about{
    background-image: url('../img/emilia-about.jpg');
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 80%;
    text-transform: uppercase;
}

/* Header */
.about header{
    height: 160px;
}
.about header nav{
    text-align: right;
    padding-top: 45px;
    width:99%;
    margin: 0 auto;
}
.about header nav .navegacion{
    background-color: #ffffff89;
    padding: 15px 1px;
}

.about header nav .navegacion li{
    display: inline;
    padding: 0 10px;
    border-left: 1px solid #000000;
}
.about header li.barraDerecha{
    border-right: 1px solid #000000;
}
.about header nav .navegacion li a{
    font-family: var(--fuenteSubtitulos);
    font-size: 24px;
    text-transform: uppercase;
}
.about header nav .icons{
    margin-top: 10px;
}

/* Main */

.about main h1{
    font-size: 4rem;
    font-family: var(--fuenteSubtitulos);
}
.about main h3{
    margin: 80px 0 30px 40px;
    color: var(--colorSecundarioFuentes);
    text-transform: none;
    font-family: var(--fuenteTitulos);
    font-weight: 400;
    font-size: 1.7rem;
}
.about main p{
    margin: 0 40px;
    color: var(--colorSecundarioFuentes);
    text-transform: capitalize;
    font-weight: 400;
    font-family: var(--fuenteTitulos);
}